body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border-bottom: rgb(241, 241, 241) solid 1px;
  height: 100px;
  align-items: center;
  display: flex;
  font-size: 40px;
  letter-spacing: 3px;
}
header div {
  display: flex;
  gap: 60px;
  margin-left: 120px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 150px auto;
  width: 250px;
}

.container {
  display: flex;
  margin: 200px auto;
  justify-content: center;
  align-items: center;
  gap: 225px;
}

.container > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container > div:first-child div {
  display: flex;
  gap: 70px;
}

section div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

button {
  width: 120px;
  height: 70px;
  border: rgb(217, 216, 216) solid 1px;
  border-radius: 5px;
  font-size: 30px;

  color: #5c49d3;
  background-color: white;
}

.selected {
  background-color: #5c49d3;
  color: white;
}

main > button:last-child {
  color: white;
  padding: 20px;
  width: 150px;
}

.greenLight {
  background-color: #46ac4a;
}

.redLight {
  background-color: #d34848;
}

section div button {
  width: 100px;
  border: none;
  background-color: white;
  font-size: 80px;
}

footer {
  display: flex;
  justify-content: center;
}
footer div {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
